@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Founders_Grotesk";
    src: url("./assets/FoundersGrotesk-Semibold.ttf");
}
@font-face {
    font-family: "Neue_Montreal";
    src: url("./assets/NeueMontreal-Regular.ttf");
}